.navStyle{
    background-color: #4cbb17;
 
}
.title{
    font-family: 'Cookie', cursive;
    font-size: 30px;
    color:white;
}
.rStyle{
    font-family: 'Stalemate', cursive;
    font-size: 32px;
    color: white;
}

.navLink{
    font-family: 'Courier Prime', monospace;
    font-size: 18px;
    color:white;
}

