.navStyle{
    background-color:white;
}

.title{
    font-family: 'Cookie', cursive;
    font-size: 35px;
    font-weight: lighter;
    color:#4cbb17;
    margin: 20px;
}
.rStyle{
    font-family: 'Stalemate', cursive;
    font-size: 32px;
    color:#4cbb17;
}

.navLink{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    color:#4cbb17;
}

.navLink:hover{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
   
}

