
.header{
  font-family: 'Cookie', cursive;
  font-size: 100px;
  color: #4cbb17
}

.card {
    background: #fff;
    border-radius: 2px;
    height: 201px;
    margin: 1rem;
    position: relative;
    width: 300px;
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
    text-align: left;
  }
  
  .card > .img-container {
    height: 201px;
    width: 300px;
    overflow: hidden;
    text-align: center;
    background:#FFFFFF;
  }

  .roomBtn {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    color: #ffb000;
  }

  .pageBreak {
    text-align: center;
    margin: 10px;
    padding: 10px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
  }